<h1>This is gonna be a list of all your feeds</h1>

<h2>Add new feed</h2>
<form action="/feeds" method="POST">
  <div class="form-group">
    <label for="feddUrl">Feed URL</label>
    <input type="text" class="form-control" id="feedUrl" aria-describedby="emailHelp" placeholder="Enter Feed URL">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<a href="#" class="btn btn-secondary btn-lg active" id="feedRefresh" role="button" aria-pressed="true">Refresh</a>